__pycache__/
__pycache__
*.py[cod]
*$py.class
outputs

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

outputs/
multirun/

.mypy_cache/
.dmypy.json
dmypy.json